<template>
  <div>
    <Navbar />
    <!-- <Sidebar /> -->
    <CardItem />
    <!-- <router-view /> -->
  </div>
</template>
<script>
import Navbar from "./components/Navbar";
// import Sidebar from "./components/Sidebar";
import CardItem from "./components/CardItem";
export default {
  components: { Navbar, CardItem }
};
</script>
